<md-toolbar>
    <div class="md-toolbar-tools">
		<h1>Baseball Workbench</h1>
    </div>
</md-toolbar>
<div layout-padding>
	<h1 class="md-display-1">Welcome to the Baseball Workbench</h1>
	<div layout="row" layout-align="start start">
		<!-- This will be for the autocomplete to be plugged into the controller -->
		<md-card flex="25">
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Select a data set</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-content >
				<div layout="row">
					<div layout="column">
						<md-autocomplete
								md-min-length="0"
								md-selected-item="BaseballCtrl.selectedDataSet"
								md-selected-item-change="BaseballCtrl.fetchMetadata()"
								md-search-text="searchText"
								md-items="dataset in BaseballCtrl.dataSets | BaseballFilter:searchText"
								md-item-text="dataset"
								placeholder="Select a dataset">
							<md-item-template>
								<span md-highlight-text="searchText">{{ dataset }}</span>
							</md-item-template>
							<!-- This will return only if the search box  -->
							<md-not-found>
								<span>No tables match your search criteria</span>
							</md-not-found>
						</md-autocomplete>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
	<!-- TODO: The scrollbar this produces should show up under the toolbar.. #MINORforNOW -->
	<div layout="row" layout-align="start start">
		<span class="md-title" layout="row" ng-if="!BaseballCtrl.selectedDataSet" flex="100" layout-fill layout-align="start start">Choose a data set above to see available data</span>
		<div flex="50" layout="column" card-sortable-table ng-if="BaseballCtrl.selectedDataSet && BaseballCtrl.metadataTable.data.length > 0"
			 title="BaseballCtrl.selectedDataSet" config="BaseballCtrl.metadataTable">
		</div>
		<div flex="50" layout="column" baseball-query ng-if="BaseballCtrl.selectedDataSet && BaseballCtrl.metadataTable.data.length > 0"
			 title="BaseballCtrl.selectedDataSet" config="BaseballCtrl.metadataTable">
		</div>
	</div>
</div>
