<md-toolbar>
    <div class="md-toolbar-tools">
		<span>Baseball Workbench</span>
    </div>
</md-toolbar>
<h1 class="md-display-7">{{BaseballCtrl.hello}}</h1>

<md-content>
	<div layout="row" layout-align="start start">
		<!-- This will be for the autocomplete to be plugged into the controller -->
		<md-card>
			<md-card-content >
				<div layout="row">
					<h2 layout="row" >Select a data set</h2>
				</div>
				<div layout="row">
					<div layout="column">
						<md-autocomplete
								md-selected-item="BaseballCtrl.selectedDataSet"
								md-search-text="BaseballCtrl.searchText"
								md-items="dataset in BaseballCtrl.dataSets | filter:BaseballCtrl.searchText"
								md-item-text="dataset"
								placeholder="Select a dataset">
							<md-item-template>
								<span md-highlight-text="searchText">{{ dataset }}</span>
							</md-item-template>
							<!-- This will return only if the search box  -->
							<md-not-found>
								<span>No tables match your search criteria</span>
							</md-not-found>
						</md-autocomplete>
					</div>
					<div layout="column">
						<md-button layout="column" ng-click="BaseballCtrl.getMetadata()"> Go </md-button>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
	<div layout="row" layout-align="start start">
		<md-card layout="column">
			<md-card-content>
				<md-input-container>
					<label>Input a Formula</label>
					<input name= "formula" ng-model="BaseballCtrl.formula" required />
				</md-input-container>
			</md-card-content>
		</md-card>
	</div>
	{{BaseballCtrl.metadata}}
</md-content>
