<md-toolbar class="md-table-toolbar md-accent" >
    <div class="md-toolbar-tools">
        <span>{{title}}</span>
        <span flex></span>
        <md-button ng-click="showFilters=!showFilters" class="md-icon-button">
            <md-icon>filter_list</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-table-container >
    <table md-table>
            <thead md-head md-order="query.order">
                <tr md-row ng-if="!showFilters" >
                    <th md-column ng-repeat="column in config.columns" md-order-by="{{column.id}}">
                        <span ng-if="!showFilters" >{{::column.displayVal}}</span>
                    </th>
                </tr>
                <tr md-row ng-if="showFilters">
                    <th md-column ng-repeat="column in config.columns" md-order-by="{{column.id}}">
                        <md-input-container id="tableColFilter" layout-padding">
                            <label>{{column.displayVal}}</label>
                            <input ng-model="ctrl.filters[column.id]" type="text">
                        </md-input-container>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="item in config.data | columnarFilter:ctrl.filters | orderBy: query.order">
                <td ng-repeat="col in config.columns" md-cell>{{item[col.id]}}</td>
            </tr>
            </tbody>
        </table>
</md-table-container>