<md-table-container >
    <table md-table md-row-select ng-model="config.selected">
        <thead md-head md-order="query.order">
        <tr md-row ng-show="config.showFilters">
            <th md-column ng-repeat="column in config.columns">
                <md-input-container id="tableColFilter" layout-padding">
                <label>{{column.displayVal}}</label>
                <input ng-model="ctrl.filters[column.id]" type="text">
                </md-input-container>
            </th>
        </tr>
        <tr md-row ng-show="!config.showFilters" >
            <th md-column ng-repeat="column in config.columns" md-order-by="{{column.id}}">
                <span ng-show="!showFilters" >{{::column.displayVal}}</span>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-select="item" md-row ng-repeat="item in config.data | columnarFilter:ctrl.filters | orderBy: query.order">
            <td ng-repeat="col in config.columns" md-cell>{{item[col.id]}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

